@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body {
    background-color: #0d0d0d;
  color: #fff;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: #141414;
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo{
    font-size: 1.8rem;
  font-weight: 700;
  color: #ff006e;
}
.logo span {
    color: #fff;

}
nav a {
    color: #fff;
  text-decoration: none;
  margin-left: 25px;
  font-weight: 500;
  transition: color 0.3s;
}
.text{
    text-align: center;
  padding: 80px 20px;
  background: linear-gradient(180deg, #1a1a1a, #0d0d0d);
}
.text h1 {
    font-size: 2.5rem;
  margin-bottom: 15px;
}
.text p {
    color: #ccc;
  margin-bottom: 30px;
}

.most{
    padding: 60px 80px;
}
.most h2{
    font-size: 2rem;
  margin-bottom: 40px;
  text-align: center;
}
.card{
    background-color: #1a1a1a;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}
.card img{
    width: 100%;
  height: 300px;
  object-fit: cover;
}
.card h3 {
    margin: 15px 0 5px;
  font-size: 1.2rem;
}
.card p {
    color: #aaa;
  margin-bottom: 15px;
}
.card:hover{
    transform: translateY(-8px);
    box-shadow: 0px 6px 50px white;
}
nav a:hover {
  color: #ff006e;
}
footer{
    text-align: center;
    padding: 25px;
    background-color: #141414;
    color: #888;
    margin-top: 40px;
}
footer p span{
    color: #ff006e;
}
header {
    flex-direction: column;
}
.Big3{
    padding: 40px 20px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}